<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818133388290-2l045ga4oitn2tfrmjbu8srllpm3gp87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818133388290-2l045ga4oitn2tfrmjbu8srllpm3gp87</string>
	<key>API_KEY</key>
	<string>AIzaSyDBCy5xJtgVQ7mcwkDBXHqHBFTzloteKiI</string>
	<key>GCM_SENDER_ID</key>
	<string>818133388290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer-team.udaan18</string>
	<key>PROJECT_ID</key>
	<string>com-udaan18</string>
	<key>STORAGE_BUCKET</key>
	<string>com-udaan18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818133388290:ios:b0b52df1deef9ac7</string>
	<key>DATABASE_URL</key>
	<string>https://com-udaan18.firebaseio.com</string>
</dict>
</plist>