<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>547280792609-mh64lc2j3t45jgrgm6mcukf1gi7062s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547280792609-mh64lc2j3t45jgrgm6mcukf1gi7062s2</string>
	<key>API_KEY</key>
	<string>AIzaSyCFNu-E8-j8C-7tNbFdZirwFhJdlhkwd_g</string>
	<key>GCM_SENDER_ID</key>
	<string>547280792609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer-team.udaan18</string>
	<key>PROJECT_ID</key>
	<string>com-bvm-udaan18</string>
	<key>STORAGE_BUCKET</key>
	<string>com-bvm-udaan18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547280792609:ios:b0b52df1deef9ac7</string>
	<key>DATABASE_URL</key>
	<string>https://com-bvm-udaan18.firebaseio.com</string>
</dict>
</plist>